<div class="twitterborder">
    <div class="table">
        <div class="table-cell">
<a class="twitter-timeline tw-align-center" href="https://twitter.com/mathrip3" data-widget-id="591646755353186304" data-height="1000" width="500px">Latest news by @mathrip3</a>

    <script>
        ! function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");
    </script>
        </div>
    </div>
</div>
